@import '../../../common.styl'

.screen
  width 100%

.screenWrapper
  width 100%
  overflow scroll
  coolScrollbar()

.table
  display flex
  flex-direction column
  width 100%

.head
  background $background-light

.row
  display flex
  height 64px
  align-items center

  div
    text-align center
    width 20%


.body
  text-align center

.pagination
  display flex
  align-items center